name: Renovate

on:
  schedule:
    # Run every Saturday at 3:00 AM
    - cron: '0 3 * * 6'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.0.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          configurationFile: renovate.json
        env:
          LOG_LEVEL: 'debug'
